.container {
  padding: 24px;
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 30px;
}

.actionButtons {
  margin-bottom: 16px;
  display: flex;
  justify-content: flex-end;
}

.topActionButtons {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.modeCards {
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 60%;
}

.modeCard {
  padding: 8px;
  text-align: center;
  border-radius: 8px;
  cursor: pointer;
}

.speakCard {
  margin-right: 16px;
}

.actionCard {
  margin-left: 4px;
}

.activeMode {
  background: #fb4141;
  color: #fff;
}

.centerBox {
  width: 100%;
  margin-left: 260px;
  max-width: 800px;
  margin-top: 16px;
}

.wordCard {
  margin-bottom: 32px;
  background-color: rgba(255, 255, 255, 0.9) !important;
  border-radius: 16px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);

  :global(.ant-card-body) {
    padding: 48px 24px;
  }
}

.wordContent {
  font-size: 60px;
  text-align: center;
  min-height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #222;
}

.controls {
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
  max-width: 800px;

  .actionButtons {
    position: static;
    display: flex;
    gap: 12px;
  }

  .correctButton {
    background-color: #52c41a;
    border-color: #52c41a;

    &:hover,
    &:focus {
      background-color: #73d13d !important;
      border-color: #73d13d !important;
    }
  }
}

.timerSection {
  display: flex;
  justify-content: center;
  margin-bottom: 32px;
  :global(.ant-input-number) {
    width: 80px;
  }

  button {
    width: 140px;
  }
}

.scoreCard {
  position: absolute;
  width: 260px;
  left: 24px;
  top: 120px;
  background-color: rgba(255, 255, 255, 0.9) !important;
  border-radius: 16px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);

  .teamSelector {
    margin-bottom: 16px;

    p {
      margin-bottom: 8px;
    }
  }

  .teamScoreList {
    :global(.ant-list-item) {
      display: flex;
      justify-content: space-between;
      padding: 8px 0;
    }

    .score {
      font-weight: bold;
      color: #fb4141;
    }
  }

  .noTeam {
    text-align: center;
    padding: 16px 0;
    color: #999;
  }
}
